header {
  width:100%;
  height:90px;
  background-color: #00ff04;
}

.logo{
  height: 64px;
  width: 64px;
  background-color: #ff00ff;
}

menu > li {
  display: inline-block;
  background-color: #ff0000;
  margin:0 1em;
  border:> 1px solid white;
}
